body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #0095DD;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0077B6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 1;
}

.button-container {
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 30px;
  color: #fff;
}

#startButton {
  margin-right: 10px;
}

#utilityButton {
  margin-left: 10px;
}

#gameCanvas {
  background-color: #333;
  display: block;
  position: absolute;
}
